@import url('https://fonts.googleapis.com/css2?family=Courgette&family=DM+Serif+Display:ital@0;1&family=Dancing+Script&family=Estonia&family=Fruktur&family=Irish+Grover&family=Kings&family=Luckiest+Guy&family=Pacifico&family=Passions+Conflict&family=Sassy+Frass&family=Satisfy&family=Zen+Kurenaido&display=swap');
body
{
    background-color: rgb(138, 98, 74);
}
#main_title
{
    position: fixed;
    top: 0px;
    height: 45px;
    width: 100%;
    background-color:burlywood;
    border: brown solid 2px;
    text-align: center;
    /*font-family: 'Luckiest Guy', cursive;*/
    font-family: 'Special Elite', cursive;
    font-size: xx-large;
    color: brown;
}
/*#head_quote
{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: xx-large;
    /*padding: 11px  10px  50px  480px;    
    /*margin-left: 200px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 120px;
    
}*/
#menu1
{
    margin-top: 55px;
    text-align: center;
    word-spacing: 70px;
    
}
#menu2
{
    height: 350px;
    width: 100%;
   /* border: black solid 2px;*/
    text-align: center;    
    color: burlywood;
    font-size: x-large;
}
a
{
    color: burlywood;
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
}
#parent1
{
     
    display: flex;
    height: 500px;
    width: 100%;
}
#col1
{
    background-color: burlywood;
    height: 500px;
    width: 100%;
}
#img1
{
    width: 100%;
    height: 100%;
}
#p1
{
    padding-left: 10%;
    padding-top: 30%;
    font-size: xx-large;
    color:brown;
    
    text-align: start ;
    font-family: 'Courgette', cursive;
}
#p2
{
    font-size: large;
    
}
#login_div
{
    /*border: chocolate solid 2px;*/
    height: 172px;
    width: 267px;
    margin-left: 176px;
    margin-top: 20px;
    text-align-last: center;    
}
#hist_parent
{
    display: flex;
    height: 150px;
    width: 100%;
}
#hist_img
{
    height: 150px;
    width: 150px;
    border: rgb(15, 15, 14) solid 2px;
    margin-left: 300px;
}
#menu3
{
    height: 583px;
    width: 100%;
    /*border: rgb(238, 13, 13) solid 2px;*/
    text-align: center;    
    color: burlywood;
    font-size: x-large;
}
#uses_parent
{
    height: 500px;
    width: 98%;
    /*border:olivedrab solid 2px;*/
    margin-left: 10px;
    display: flex;
    
}
#use1
{
    height: 418px;
    width: 20%;
    /*border: tomato solid 2px;
    /*display: flex;*/
    border-spacing: 15px;
    margin-left: 100px;

}
/*#uses1
{
    height: 100px;
    width: 100px;
}*/
#gallery
{
    height: 230px;
    width: 290px;
    /*border: black solid 2px;*/
}
#diy_coffee
{
    height: 700px;
    width: 100%; 
   /* border: black solid 2px;  */ 
}
#p_diy
{
    
    font-size:large;  
    text-align: start; 
    color: rgb(141, 9, 9);
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
#p1_diy
{
    /*padding-left: 470px;
    padding-top: 0px;
    padding-bottom: 100px;*/
    font-size: x-large;  
    text-align: center; 
    color: burlywood;
}
#div_footer
{
    background-color: burlywood;
    height: 50px;
    width: 100%;
    color: brown;
    font-size: medium;
    word-spacing: 20px;
   
}
#div_sticky
{
   /* position: sticky; 
    top: 800px;
    bottom: 0px;
        
    color: brown;
    background-color: rgb(243, 145, 17);
    height: 50px;
    width: 100px;*/

    position: sticky;
    top: 500px;
    /*border: rgb(8, 8, 8) solid 2px;*/
    background-color: burlywood;
    height: 34px;
    width: 107px;
    color: brown;
    font-size: small;
    margin-left: 1160px;
}

